body {
    margin: 0;
    padding: 0;
    background-color: rgb(73, 75, 75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: rgb(43, 43, 43);
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 90px;
    width: 2020px;
    position: fixed;
}

.bungkus-nav {
    justify-content: center;
    align-items: center;
    display: flex;
}

.textnav1 {
    color: #fff;
    font-size: 60px;
}

.textnav2 {
    color: #fff;
    font-size: 60px;
    padding-left: 15px;
}

.bungkus-nav1 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.home {
    color: #fff;
    text-decoration: none;   
    font-size: 30px;
    font-weight: 400;
    padding-right: 60px;
    transition: all 0.4s ease-in-out;
}

.home:hover {
    color: rgb(0, 255, 0);
}

.about {
    color: rgb(0, 255, 0);
    text-decoration: none;   
    font-size: 30px;
    font-weight: 400;
    padding-right: 60px;
    transition: all 0.4s ease-in-out;
}

.about:hover {
    color: rgb(0, 255, 0);
}

.portfolio {
    color: #fff;
    text-decoration: none;   
    font-size: 30px;
    font-weight: 400;
    padding-right: 60px;
    transition: all 0.4s ease-in-out;
}

.portfolio:hover {
    color: rgb(0, 255, 0);
}

.contact {
    color: #fff;
    text-decoration: none;   
    font-size: 30px;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}

.contact:hover {
    color: rgb(0, 255, 0);
}

/* KONTEN */

.p-1 {
    color: #fff;
    text-align: justify;
    height: 60px;
    width: 750px;
    font-size: 30px;
    font-weight: 500;
}

.bungkus1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.bungkus2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}

.p-2 {
    color: #fff;
    text-align: justify;
    height: 60px;
    width: 950px;
    font-size: 30px;
    font-weight: 500;
}

.p-3 {
    color: #fff;
    text-align: justify;
    height: 60px;
    width: 950px;
    font-size: 30px;
    font-weight: 500;
}

.p-4 {
    color: #fff;
    text-align: justify;
    height: 60px;
    padding-right: 90px;
    width: 950px;
    font-size: 30px;
    font-weight: 500;
}

.p-5 {
    color: #fff;
    text-align: justify;
    height: 60px;
    width: 950px;
    font-size: 30px;
    font-weight: 500;
}

.p-6 {
    color: #fff;
    text-align: justify;
    height: 60px;
    width: 950px;
    font-size: 30px;
    font-weight: 500;
}

.p-7 {
    color: #fff;
    text-align: justify;
    height: 60px;
    width: 950px;
    font-size: 30px;
    font-weight: 500;
}

.img1 {
    height: 500px;
    position: relative;
    z-index: -1;
    padding-left: 90px;
    filter: drop-shadow(0px 5px 10px black);
}

.img {
    justify-content: center;
    align-items: center;
    display: flex;
}

.img2 {
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 2px black;
}

.konten2 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.konten3 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.konten4 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.konten5 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 50px;
}

.konten6 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.konten7 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.img-3 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.img3 {
    height: 600px;
    filter: drop-shadow(0px 5px 10px black);
}

.SD {
    color: rgb(43, 255, 0);
}

@media screen and (max-width: 360px) {
    .navbar {
        width: 360px;
        height: 110px;
        flex-direction: column;
    }

    .bungkus-nav {
        height: 30px;
    }

    .textnav1 {
        font-size: 30px;
    }

    .textnav2 {
        font-size: 30px;
    }

    .home {
        font-size: 15px;
        padding-right: 20px;
    }

    .about {
        font-size: 15px;
        padding-right: 20px;
    }

    .portfolio {
        font-size: 15px;
        padding-right: 20px;
    }

    .bungkuskonten1 {
        padding-left: 80px;
        padding-top: 30px;
        height: 420px;
    }

    .contact {
        font-size: 15px;
    }

    .bungkus1 {
        flex-direction: column;
    }

    .p-1 {
        font-size: 19px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 240px;
    }

    .img1 {
        height: 250px;    
    }

    .img { 
        padding-right: 90px;
        width: 240px;
    }

    .konten2 {
        padding-top: 40px;
    }

    .p-2 {
        font-size: 19px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 240px;
    }

    .konten3 {
        padding-top: 50px;
    }

    .p-3 {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 19px;
        width: 240px;
    }

    .bungkus2 {
        flex-direction: column;
    }

    .konten4 {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 359px;
    }

    .p-4 {
        font-size: 16px;
        width: 290px;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-left: 90px;
    }

    .img2 {
        height: 200px;
    }

    .p-5 {
        font-size: 19px;
        width: 240px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .p-6 {
        font-size: 17px;
        width: 240px;
    }

    .p-7 {
        font-size: 19px;
        width: 240px;
    }

    .img-3 {
        padding-top: 160px;
    }

    .img3 {
        height: 330px;
    }
}