body {
    margin: 0;
    padding: 0;
    background-color: rgb(73, 75, 75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    background-color: rgb(43, 43, 43);
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 90px;
    width: 2020px;
    position: fixed;
}

.bungkus-nav {
    justify-content: center;
    align-items: center;
    display: flex;
}

.textnav1 {
    color: #fff;
    font-size: 60px;
}

.textnav2 {
    color: #fff;
    font-size: 60px;
    padding-left: 15px;
}

.bungkus-nav1 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.home {
    color: #fff;
    text-decoration: none;   
    font-size: 30px;
    font-weight: 400;
    padding-right: 60px;
    transition: all 0.4s ease-in-out;
}

.home:hover {
    color: rgb(0, 255, 0);
}

.about {
    color: #fff;
    text-decoration: none;   
    font-size: 30px;
    font-weight: 400;
    padding-right: 60px;
    transition: all 0.4s ease-in-out;
}

.about:hover {
    color: rgb(0, 255, 0);
}

.portfolio {
    color: #fff;
    text-decoration: none;   
    font-size: 30px;
    font-weight: 400;
    padding-right: 60px;
    transition: all 0.4s ease-in-out;
}

.portfolio:hover {
    color: rgb(0, 255, 0);
}

.contact {
    color: rgb(0, 255, 0);
    text-decoration: none;   
    font-size: 30px;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}

.contact:hover {
    color: rgb(0, 255, 0);
}

/* KONTEN */

.pembungkus {
    padding-top: 200px;
    padding-left: 300px;
}

.h1 {
    color: #fff;
    font-size: 60px;
}

.p-ig {
    color: #fff;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    font-size: 35px;
    padding-left: 10px;
}

.p-yt {
    color: #fff;
    height: 25px;
    font-size: 35px;
    padding-left: 12px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    display: flex;
}

.p-tt {
    color: #fff;
    height: 20px;
    font-size: 35px;
    padding-left: 13px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    display: flex;
}

.p-fb {
    color: #fff;
    height: 30px;
    font-size: 35px;
    padding-left: 15px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    display: flex;
}

.link-ig {
    display: flex;
    text-decoration: none;
    width: 370px;
}

.link-yt {
    display: flex;
    text-decoration: none;
    width: 370px;
}

.link-tt {
    display: flex;
    text-decoration: none;
    width: 370px;
}

.link-fb {
    display: flex;
    text-decoration: none;
    width: 370px;
}

.ig1 {
    height: 100px;
}

.yt1 {
    height: 95px;
}

.tiktok1 {
    height: 90px;
}

.fb1 {
    height: 80px;
    padding-left: 8px;
    padding-top: 10px;
}

.luar-garis {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 90px;
}

.garis {
    background-color: #252525;
    height: 5px;
    width: 1750px;
    border-radius: 20px;
}

/* input pesan WA */
.bungkusluar {
    justify-content: center;
    align-items: center;
    display: flex;
}

.luar {
    flex-direction: column;
    background-color: #252525;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1000px;
    border-radius: 30px;
    box-shadow: 0px 10px 10px -10px black;
}

.judulpesan {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #11ff00;
    justify-content: center;
    align-items: center;
    display: flex;
}

.inputnama {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 30px;
}

.input1 {
    height: 50px;
    width: 700px;
    background-color: #c1f5bc;
    border-radius: 30px;
    padding-left: 30px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputpesan {
    justify-content: center;
    align-items: center;
    display: flex;
}

.input2 {
    height: 50px;
    width: 700px;
    border-radius: 30px;
    background-color: #c1f5bc;
    font-size: 23px;
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 70px;
}

.kirim {
    height: 50px;
    width: 730px;
    font-size: 25px;
    font-weight: 600;
    color: #ffff;
    border-radius: 30px;
    background-color: #1ca110;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1-text {
    color: #fff;
    font-size: 60px;
    padding-bottom: 70px;
}

.text {
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 360px) {
    .navbar {
        width: 360px;
        height: 110px;
        flex-direction: column;
    }

    .bungkus-nav {
        height: 30px;
    }

    .textnav1 {
        font-size: 30px;
    }

    .textnav2 {
        font-size: 30px;
    }

    .home {
        font-size: 15px;
        padding-right: 20px;
    }

    .about {
        font-size: 15px;
        padding-right: 20px;
    }

    .portfolio {
        font-size: 15px;
        padding-right: 20px;
    }

    .bungkuskonten1 {
        padding-left: 80px;
        padding-top: 30px;
        height: 420px;
    }

    .contact {
        font-size: 15px;
    }

    .pembungkus {
        padding-left: 20px;
        padding-top: 150px;
    }

    .h1 {
        font-size: 40px;
        padding-left: 20px;
    }

    .ig1 {
        height: 60px;
        padding-left: 20px;
    }

    .p-ig {
        font-size: 20px;
    }

    .link-ig {
        width: 200px;
    }

    .link-yt {
        width: 200px;
    }

    .link-tt {
        width: 200px;
    }

    .link-fb {
        width: 200px;
    }

    .yt1 {
        height: 56px;
        padding-left: 20px;
    }

    .p-yt {
        font-size: 20px;
    }

    .tiktok1 {
        height: 50px;
        padding-left: 20px;
    }

    .p-tt {
        font-size: 20px;
        padding-left: 20px;
    }

    .fb1 {
        height: 50px;
        padding-left: 20px;
    }

    .p-fb {
        font-size: 20px;
        padding-left: 20px;
    }

    .luar-garis {
        padding-top: 30px;
    }

    .garis {
        height: 3px;
        width: 340px;
    }

    .h1-text {
        font-size: 30px;
    }

    .luar {
        width: 340px;
        height: 300px;
    }

    .judulpesan {
        font-size: 20px;
    }

    .input1 {
        height: 33px;
        width: 250px;
        font-size: 15px;
    }

    .input2 {
        height: 33px;
        width: 250px;
        font-size: 15px;
    }

    .kirim {
        height: 33px;
        width: 280px;
        font-size: 15px;
    }

    .inputnama {
        padding-top: 10px;
    }

    .button {
        padding-top: 10px;
    }
}